<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card button *ngFor="let activity of (activityList | async)">
    <ion-img [src]="activity.cropped" alt="">
     </ion-img>
     <ion-card-header> 
       {{activity.name}}
     </ion-card-header>
  </ion-card>
</ion-content>

<!-- 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content> -->
