<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar (click)="updateImage()" class="profile-pic">
    <ion-img src="https://raw.githubusercontent.com/saurav-kc/Hello-World/master/ParseChat/Assets.xcassets/photo-placeholder.imageset/photo-placeholder.jpg"></ion-img>
  </ion-avatar>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Saurav KC</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
     Ionic Mobile Developer
    </ion-card-content>
  </ion-card>
</ion-content>
