<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
    <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>{{(activityDetail | async).id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="(activityDetail | async).image"></ion-img>

  <ion-card class="ion-no-margin">
  <ion-card-header>
    <ion-card-title>
    {{(activityDetail | async).name}}
    </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{(activityDetail | async).description}}
    </ion-card-content>
  </ion-card>
</ion-content>

